.base {
  color: rgb(0, 0, 1);

  .nested {
    color: rgb(0, 0, 2);
  }

  &-bes {
    color: rgb(0, 0, 4);

    &_variant {
      color: rgb(0, 0, 5);
    }
  }
}

span {
  > span {
    > span {
      color: rgb(0, 0, 3);
    }
  }
}
